.leftContainer {
    width: 300px;
    box-shadow: 2px 0 0 0 rgb(209, 203, 203);
}
.componentGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.componentItem{
    width: 70px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgb(187, 181, 181);
    border-radius: 4px;
}
.ant-tabs-tab {
    margin: 0px!important;
}
