.HeaderContainer {
    height: 80px;
    line-height: 80px;
    box-shadow: 0 0 1px 1px rgb(209, 203, 203);
}
.headerTitle {
    font-size: 30px;
    font-weight: bold;
}
.buttonBody {
    float: right;
    display: flex;
    height: 100%;
    align-items: center;
}
.buttonItem {
    margin-right: 15px;
}
.gitHubIcon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-right: 15px;
}
